@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap");

// BROWSER RESET
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: "Open Sans", sans-serif;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
	scroll-behavior: smooth;
}

img {
	width: 100%;
	display: block;
}

body {
	background-image: url(../img/background.jpg);
	@include bgImages;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
}

header {
	@include flex(row, space-between, center);
	height: 7.5rem;
	background-color: rgba($white, 0.25);
	border-bottom: 1px solid $grey-light;
	position: relative;
}

main {
	height: calc(100vh - 7.5rem);
	width: 100%;
}
