@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap");
@keyframes dropdown {
  0% {
    height: 0; }
  100% {
    height: 100%; } }

@keyframes growDown {
  0% {
    transform: scaleY(0); }
  100% {
    transform: scaleY(1); } }

/*
/// $min - Minimum font size (px, rem)
/// $max - Maximum font size (px, rem)
/// $min-vw - Minimum viewport value lock range (px) --(optional)
/// $max-vw - Maximum viewport value lock range (px) --(optional)
/// $fallback - fallback font size (px, rem) --(optional)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Open Sans", sans-serif; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

img {
  width: 100%;
  display: block; }

body {
  background-image: url(../img/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 7.5rem;
  background-color: rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid #bbb;
  position: relative; }

main {
  height: calc(100vh - 7.5rem);
  width: 100%; }

.mg-r-sm {
  margin-right: 1rem; }

.logo-box {
  cursor: pointer;
  width: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .logo-box__logo {
    width: 100%; }

.nav .list {
  display: flex; }

.nav .item {
  font-size: 28px;
  font-size: calc( 14px + (28 - 14) * ((100vw - 320px) / (1600 - 320)));
  cursor: pointer;
  list-style: none;
  margin-left: 1.5rem;
  display: flex;
  font-weight: 300;
  height: 7.5rem;
  align-items: center;
  perspective: 1000px; }
  @media screen and (max-width: 320px) {
    .nav .item {
      font-size: 14px; } }
  @media screen and (min-width: 1600px) {
    .nav .item {
      font-size: 28px; } }
  @media only screen and (max-width: 350px) {
    .nav .item {
      perspective: none; } }
  .nav .item::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #3d3d3d; }
  .nav .item__icon {
    font-size: 1rem;
    align-self: center;
    margin-left: 0.5rem; }
  .nav .item__dropdown {
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #848484;
    border-radius: 3px;
    cursor: initial;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7.5rem;
    left: 0;
    width: 30rem;
    padding: 1rem 0;
    display: none;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center; }
    .nav .item__dropdown__heading {
      font-size: 26px;
      font-size: calc( 18px + (26 - 18) * ((100vw - 320px) / (1600 - 320)));
      padding: 1.5rem; }
      @media screen and (max-width: 320px) {
        .nav .item__dropdown__heading {
          font-size: 18px; } }
      @media screen and (min-width: 1600px) {
        .nav .item__dropdown__heading {
          font-size: 26px; } }
    .nav .item__dropdown__item {
      font-size: 22px;
      font-size: calc( 16px + (22 - 16) * ((100vw - 320px) / (1600 - 320)));
      display: flex;
      align-items: center;
      list-style: none;
      margin: 2rem;
      text-align: left;
      cursor: pointer; }
      @media screen and (max-width: 320px) {
        .nav .item__dropdown__item {
          font-size: 16px; } }
      @media screen and (min-width: 1600px) {
        .nav .item__dropdown__item {
          font-size: 22px; } }
      .nav .item__dropdown__item__icon {
        font-size: 0.75rem;
        margin-right: 1rem;
        color: #3d3d3d;
        fill: #3d3d3d; }
  .nav .item:hover::after {
    width: 100%; }
  .nav .item:hover .item__dropdown {
    display: block; }

.shop-cart {
  margin-right: 1rem; }
  .shop-cart__btn {
    background-color: transparent;
    border: none;
    cursor: pointer; }

.cart-resume {
  background-color: #fff;
  border: 1px solid #848484;
  border-radius: 4px;
  position: absolute;
  top: 7.5rem;
  right: 0;
  height: calc(100vh - 7.5rem);
  width: 32rem;
  overflow-y: scroll;
  animation: growDown 300ms ease-in forwards;
  transform-origin: top center;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  padding-top: 1.5rem;
  z-index: 5; }
  .cart-resume__product {
    display: flex;
    flex-direction: row;
    justify-content: initial;
    align-items: center;
    width: 95%;
    min-height: 7.5rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid #3d3d3d;
    border-radius: 4px;
    background-color: #bbb; }
    .cart-resume__product__delete {
      flex: 5%;
      align-self: center;
      text-align: center;
      margin-right: 0.5rem;
      font-weight: 300;
      font-size: 1.5rem;
      cursor: pointer; }
      .cart-resume__product__delete:hover {
        font-weight: 400; }
    .cart-resume__product__image {
      flex: 15%; }
      .cart-resume__product__image__img {
        object-fit: contain;
        border-radius: 3px; }
    .cart-resume__product__details {
      flex: 65%;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .cart-resume__product__details__name {
        padding: 0.5rem;
        font-size: 18px;
        font-size: calc( 15px + (18 - 15) * ((100vw - 320px) / (1600 - 320))); }
        @media screen and (max-width: 320px) {
          .cart-resume__product__details__name {
            font-size: 15px; } }
        @media screen and (min-width: 1600px) {
          .cart-resume__product__details__name {
            font-size: 18px; } }
      .cart-resume__product__details__feature {
        font-size: 12px;
        font-size: calc( 10px + (12 - 10) * ((100vw - 320px) / (1600 - 320)));
        padding-left: 0.5rem; }
        @media screen and (max-width: 320px) {
          .cart-resume__product__details__feature {
            font-size: 10px; } }
        @media screen and (min-width: 1600px) {
          .cart-resume__product__details__feature {
            font-size: 12px; } }
        .cart-resume__product__details__feature--size {
          margin-right: 2rem; }
    .cart-resume__product__prices {
      flex: 15%;
      margin-left: 0.15rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-weight: bold; }
      .cart-resume__product__prices__price {
        padding: 0.4rem; }
        .cart-resume__product__prices__price--old {
          font-size: 14px;
          font-size: calc( 12px + (14 - 12) * ((100vw - 320px) / (1600 - 320)));
          text-decoration: line-through;
          color: #fff; }
          @media screen and (max-width: 320px) {
            .cart-resume__product__prices__price--old {
              font-size: 12px; } }
          @media screen and (min-width: 1600px) {
            .cart-resume__product__prices__price--old {
              font-size: 14px; } }
        .cart-resume__product__prices__price--new {
          font-size: 16px;
          font-size: calc( 14px + (16 - 14) * ((100vw - 320px) / (1600 - 320))); }
          @media screen and (max-width: 320px) {
            .cart-resume__product__prices__price--new {
              font-size: 14px; } }
          @media screen and (min-width: 1600px) {
            .cart-resume__product__prices__price--new {
              font-size: 16px; } }
  .cart-resume__total-price {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: flex-end;
    padding: 1rem;
    align-self: flex-end;
    margin: 5rem 0 2.5rem;
    min-height: 14rem; }
    .cart-resume__total-price p {
      padding: 1.25rem;
      font-size: 12px;
      font-size: calc( 10px + (12 - 10) * ((100vw - 320px) / (1600 - 320)));
      font-weight: bold; }
      @media screen and (max-width: 320px) {
        .cart-resume__total-price p {
          font-size: 10px; } }
      @media screen and (min-width: 1600px) {
        .cart-resume__total-price p {
          font-size: 12px; } }
    .cart-resume__total-price__total {
      font-size: 16px;
      font-size: calc( 14px + (16 - 14) * ((100vw - 320px) / (1600 - 320))); }
      @media screen and (max-width: 320px) {
        .cart-resume__total-price__total {
          font-size: 14px; } }
      @media screen and (min-width: 1600px) {
        .cart-resume__total-price__total {
          font-size: 16px; } }
  .cart-resume__checkout {
    width: 90%;
    padding: 1rem; }
    .cart-resume__checkout__btn {
      width: 100%;
      font-size: 16px;
      font-size: calc( 15px + (16 - 15) * ((100vw - 320px) / (1600 - 320)));
      border: 1px solid #3d3d3d;
      border-radius: 4px;
      background-color: #3d3d3d;
      padding: 0.5rem;
      color: #fff;
      cursor: pointer; }
      @media screen and (max-width: 320px) {
        .cart-resume__checkout__btn {
          font-size: 15px; } }
      @media screen and (min-width: 1600px) {
        .cart-resume__checkout__btn {
          font-size: 16px; } }
  .cart-resume__close {
    font-size: 1.4rem;
    cursor: pointer;
    padding-bottom: 3rem; }
    .cart-resume__close:active {
      color: #848484; }
      .cart-resume__close:active .cart-resume__close__text {
        text-decoration: none; }
    .cart-resume__close__text {
      text-decoration: underline; }

.cart-display {
  display: none; }

.social {
  position: absolute;
  left: 1rem;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem; }
  .social__link {
    background-color: rgba(255, 255, 255, 0.25);
    margin-bottom: 3rem;
    position: relative;
    border: 2px solid #000;
    border-radius: 4px;
    padding: 0.5rem;
    transition: all 300s; }
    .social__link::after {
      content: "";
      position: absolute;
      height: 3.2rem;
      width: 2px;
      background-color: #000;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0); }
    .social__link::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0;
      height: 2px;
      width: 3.5rem;
      background-color: rgba(61, 61, 61, 0.5); }
    .social__link:hover::before {
      height: 100%; }
    .social__link--1 {
      margin-top: 1rem; }
    .social__link--3 {
      margin-bottom: 3rem; }
  .social__img {
    width: 2.5rem; }

.item-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 2rem;
  border-radius: 3px;
  max-width: 1000px;
  margin: 0 auto; }
  @media only screen and (max-width: 980px) {
    .item-card {
      flex-direction: column;
      overflow: scroll;
      margin-top: 7.5rem;
      height: initial; } }
  .item-card__img-box {
    flex: 50%;
    padding: 2rem; }
  .item-card__img {
    max-height: 50rem;
    object-fit: cover;
    border-radius: 4px; }
    @media only screen and (max-width: 980px) {
      .item-card__img {
        max-width: 650px; } }
  .item-card__form {
    flex: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, min-content), 1fr, min-content;
    grid-gap: 0.5rem;
    padding: 2rem 0;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    margin: 0 1rem;
    margin-bottom: 2rem;
    position: relative; }
    @media only screen and (max-width: 980px) {
      .item-card__form {
        max-width: 600px; } }
    .item-card__form__back {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 3rem;
      color: #000;
      cursor: pointer; }
    .item-card__form__heading {
      font-size: 42px;
      font-size: calc( 26px + (42 - 26) * ((100vw - 320px) / (1600 - 320)));
      grid-column: 1/-1;
      grid-row: 1/2;
      padding: 1rem; }
      @media screen and (max-width: 320px) {
        .item-card__form__heading {
          font-size: 26px; } }
      @media screen and (min-width: 1600px) {
        .item-card__form__heading {
          font-size: 42px; } }
    .item-card__form__description {
      font-size: 16px;
      font-size: calc( 16px + (16 - 16) * ((100vw - 320px) / (1600 - 320)));
      grid-column: 1/-1;
      grid-row: 3/4;
      padding: 1rem; }
      @media screen and (max-width: 320px) {
        .item-card__form__description {
          font-size: 16px; } }
      @media screen and (min-width: 1600px) {
        .item-card__form__description {
          font-size: 16px; } }
    .item-card__form__sizes {
      align-self: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      grid-column: 1/-1;
      grid-row: 4/5;
      margin-bottom: 3rem;
      padding-left: 1rem; }
      .item-card__form__sizes label {
        font-style: italic;
        font-size: 2rem;
        padding: 1rem;
        position: relative;
        z-index: 5;
        background-color: transparent;
        border: 1px solid #bbb;
        border-radius: 3px;
        text-transform: uppercase;
        color: #000;
        cursor: pointer;
        margin: 0 1.5rem 1rem 0; }
      .item-card__form__sizes input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0; }
        .item-card__form__sizes input:checked {
          background-color: #000; }
    .item-card__form__prices {
      font-size: 22px;
      font-size: calc( 14px + (22 - 14) * ((100vw - 320px) / (1600 - 320)));
      margin-left: 1rem; }
      @media screen and (max-width: 320px) {
        .item-card__form__prices {
          font-size: 14px; } }
      @media screen and (min-width: 1600px) {
        .item-card__form__prices {
          font-size: 22px; } }
      .item-card__form__prices--old {
        grid-column: 1/2;
        grid-row: 2/3;
        color: #bbb;
        text-decoration: line-through; }
      .item-card__form__prices--new {
        grid-column: 2/3;
        grid-row: 2/3;
        color: #3d3d3d; }
    .item-card__form__submit {
      grid-column: 2/4;
      grid-row: 5/6;
      height: 3rem;
      background-color: transparent;
      border: 1px solid #000;
      border-radius: 3px; }
      .item-card__form__submit:hover {
        background-color: #000;
        color: #fff; }

.products {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial; }
  .products__heading {
    font-size: 54px;
    font-size: calc( 24px + (54 - 24) * ((100vw - 320px) / (1600 - 320)));
    margin-left: 3rem;
    margin-top: 3rem; }
    @media screen and (max-width: 320px) {
      .products__heading {
        font-size: 24px; } }
    @media screen and (min-width: 1600px) {
      .products__heading {
        font-size: 54px; } }
  .products__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 2rem;
    padding: 5rem; }
    @media only screen and (max-width: 1024px) {
      .products__cards {
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (max-width: 600px) {
      .products__cards {
        grid-template-columns: repeat(1, 1fr); } }
    .products__cards__link {
      text-decoration: none;
      color: inherit; }
    .products__cards__card {
      border: 2px solid #fff;
      border-radius: 3px;
      padding: 0.5rem;
      cursor: pointer;
      transition: all 1s; }
      .products__cards__card:hover {
        background-color: #fff; }
      .products__cards__card__img {
        height: 40rem;
        width: 100%;
        object-fit: cover;
        border: 1px solid #fff;
        border-radius: 4px; }
      .products__cards__card__product {
        font-size: 32px;
        font-size: calc( 18px + (32 - 18) * ((100vw - 320px) / (1600 - 320)));
        padding: 0.5rem; }
        @media screen and (max-width: 320px) {
          .products__cards__card__product {
            font-size: 18px; } }
        @media screen and (min-width: 1600px) {
          .products__cards__card__product {
            font-size: 32px; } }
      .products__cards__card__price {
        font-size: 22px;
        font-size: calc( 14px + (22 - 14) * ((100vw - 320px) / (1600 - 320)));
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: end; }
        @media screen and (max-width: 320px) {
          .products__cards__card__price {
            font-size: 14px; } }
        @media screen and (min-width: 1600px) {
          .products__cards__card__price {
            font-size: 22px; } }
        .products__cards__card__price--old {
          color: #848484;
          text-decoration: line-through; }
        .products__cards__card__price--new {
          color: #3d3d3d; }
