// Shared Colors
$color-black: #000;
$color-white: #fff;
$color-grey: #808080;

// Main Colors
$red-light: rgb(250, 61, 91);
$red-dark: rgb(93, 9, 15);
$green-light: rgb(57, 148, 65);
$green-dark: rgb(10, 41, 16);
$dark: rgb(14, 20, 23);
$dark-light: rgb(37, 46, 50);
$light-dark: rgb(197, 197, 197);
$light: rgb(228, 228, 228);

// RESPONSIVE BREAKPOINTS
$bp-desktop: 75em; // 1200px
$bp-tablet-land: 67.5em; // 1080px
$bp-tablet: 48em; // 768px
$bp-phone: 37.5em; // 600px

// Fonts
$font-main: "Nanum Gothic Coding", monospace;
$font-second: "PT Mono", monospace;
