<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <ul class="list">
                <li class="item">Men <span class="item__icon">&#9660</span>
                    <ul class="item__dropdown">
                        <h2 class="item__dropdown__heading">MEN CLOTHES</h2>
                        <li class="item__dropdown__item">
                            <span class="item__icon mg-r-sm">&#9654</span>Jeans</li>
                        <li class="item__dropdown__item"><span class=
                            "item__icon mg-r-sm">&#9654</span>Sweater</li>
                        <li class="item__dropdown__item">
                            <span class="item__icon mg-r-sm">&#9654</span>Shoes</li>
                    </ul>
                </li>
                <li class="item">Women <span class="item__icon">&#9660</span>
                    <ul class="item__dropdown">
                        <h2 class="item__dropdown__heading">WOMEN CLOTHES</h2>
                        <li class="item__dropdown__item">
                            <span class="item__icon mg-r-sm">&#9654</span>Jeans</li>
                        <li class="item__dropdown__item"><span class=
                            "item__icon mg-r-sm">&#9654</span>Sweater</li>
                        <li class="item__dropdown__item">
                            <span class="item__icon mg-r-sm">&#9654</span>Shoes</li>
                    </ul>
                </li>
            </ul>
        </nav>
 
        <figure class="logo-box">
            <a href="#">
                <img src="../img/logo.svg" alt="" class="logo-box__logo">
            </a>
        </figure>
    
        <div class="shop-cart">
            <button class="shop-cart__btn">
                <img src="../img/shop-cart.svg" alt="Shop Cart" class="shop-cart__img">
            </button>
        </div>
    
        <div class="cart-resume cart-display">
            <div class="cart-resume__product">
                <div class="cart-resume__product__delete">X</div>
                <div class="cart-resume__product__image">
                    <img src="../img/women-jeans/pexels-godisable-jacob-3689127.jpg" alt="" class="cart-resume__product__image__img">
                </div>
                <div class="cart-resume__product__details">
                    <p class="cart-resume__product__details__name">Product Name</p>
                    <p class="cart-resume__product__details__feature"> 
                        <span class="cart-resume__product__details__feature cart-resume__product__details__feature--size">Size: </span>
                        <span class="cart-resume__product__details__feature cart-resume__product__details__feature--quantity">Quantity: </span>
                    </p>
                </div>
                <div class="cart-resume__product__prices">
                    <p class="cart-resume__product__prices__price cart-resume__product__prices__price--old">19,95$</p>
                    <p class="cart-resume__product__prices__price cart-resume__product__prices__price--new">14,95$</p>
                </div>
            </div>     
            <div class="cart-resume__product">
                <div class="cart-resume__product__delete">X</div>
                <div class="cart-resume__product__image">
                    <img src="../img/women-jeans/pexels-matt-hardy-1838903.jpg" alt="" class="cart-resume__product__image__img">
                </div>
                <div class="cart-resume__product__details">
                    <p class="cart-resume__product__details__name">Product Name</p>
                    <p class="cart-resume__product__details__feature"> 
                        <span class="cart-resume__product__details__feature cart-resume__product__details__feature--size">Size: </span>
                        <span class="cart-resume__product__details__feature cart-resume__product__details__feature--quantity">Quantity: </span>
                    </p>
                </div>
                <div class="cart-resume__product__prices">
                    <p class="cart-resume__product__prices__price cart-resume__product__prices__price--old">19,95$</p>
                    <p class="cart-resume__product__prices__price cart-resume__product__prices__price--new">14,95$</p>
                </div>
            </div>
            <div class="cart-resume__product">
                <div class="cart-resume__product__delete">X</div>
                <div class="cart-resume__product__image">
                    <img src="../img/men-shoes/pexels-wallace-chuck-3526224.jpg" alt="" class="cart-resume__product__image__img">
                </div>
                <div class="cart-resume__product__details">
                    <p class="cart-resume__product__details__name">Product Name</p>
                    <p class="cart-resume__product__details__feature"> 
                        <span class="cart-resume__product__details__feature cart-resume__product__details__feature--size">Size: </span>
                        <span class="cart-resume__product__details__feature cart-resume__product__details__feature--quantity">Quantity: </span>
                    </p>
                </div>
                <div class="cart-resume__product__prices">
                    <p class="cart-resume__product__prices__price cart-resume__product__prices__price--old">19,95$</p>
                    <p class="cart-resume__product__prices__price cart-resume__product__prices__price--new">14,95$</p>
                </div>
            </div>
            <div class="cart-resume__product">
                <div class="cart-resume__product__delete">X</div>
                <div class="cart-resume__product__image">
                    <img src="../img/women-sweater/pexels-elina-sazonova-2705753.jpg" alt="" class="cart-resume__product__image__img">
                </div>
                <div class="cart-resume__product__details">
                    <p class="cart-resume__product__details__name">Product Name</p>
                    <p class="cart-resume__product__details__feature"> 
                        <span class="cart-resume__product__details__feature cart-resume__product__details__feature--size">Size: </span>
                        <span class="cart-resume__product__details__feature cart-resume__product__details__feature--quantity">Quantity: </span>
                    </p>
                </div>
                <div class="cart-resume__product__prices">
                    <p class="cart-resume__product__prices__price cart-resume__product__prices__price--old">19,95$</p>
                    <p class="cart-resume__product__prices__price cart-resume__product__prices__price--new">14,95$</p>
                </div>
            </div>
            <div class="cart-resume__product">
                <div class="cart-resume__product__delete">X</div>
                <div class="cart-resume__product__image">
                    <img src="../img/women-sweater/pexels-alexandro-david-3082256.jpg" alt="" class="cart-resume__product__image__img">
                </div>
                <div class="cart-resume__product__details">
                    <p class="cart-resume__product__details__name">Product Name</p>
                    <p class="cart-resume__product__details__feature"> 
                        <span class="cart-resume__product__details__feature cart-resume__product__details__feature--size">Size: </span>
                        <span class="cart-resume__product__details__feature cart-resume__product__details__feature--quantity">Quantity: </span>
                    </p>
                </div>
                <div class="cart-resume__product__prices">
                    <p class="cart-resume__product__prices__price cart-resume__product__prices__price--old">19,95$</p>
                    <p class="cart-resume__product__prices__price cart-resume__product__prices__price--new">14,95$</p>
                </div>
            </div>
            <div class="cart-resume__total-price">
                <p class="cart-resume__total-price__no-vat">
                    Price without VAT:
                    <span class="cart-resume__total-price__no-vat--amount calc-amount"></span>
                </p>
                <p class="cart-resume__total-price__vat">
                    Total VAT:
                    <span class="cart-resume__total-price__vat--amount calc-amount"></span>
                </p>
                <p class="cart-resume__total-price__total">
                    TOTAL PRICE:
                    <span class="cart-resume__total-price__total--amount calc-amount"></span>
                </p>
            </div>
            <div class="cart-resume__checkout">
                <button class="cart-resume__checkout__btn">PROCEED TO CHECKOUT</button>
            </div>
            <div class="cart-resume__close">
                <p class="cart-resume__close__text">Close shopping card</p>
            </div>
        </div>
    </header>
    <script src="../scripts/header.js"></script>
</body>
</html>
