<!DOCTYPE html>
<html lang="en">
	<head>
		<!--Browser Compatibility-->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!--Page Title-->
		<title>Genesis Mandela / #</title>
		<!--Page Data-->
		<meta name="description" content="#" />
		<meta
			name="keywords"
			content="#"
		/>
		<meta name="author" content="Genesis Mandela" />
		<!--Style Link-->
		<link rel="stylesheet" href="../css/style.css" />
		<!-- Style -->
		<link rel="icon" type="image/png" href="#" />
		<!--Icons/Features-->
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
			integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
			crossorigin="anonymous"
		/>
		<!--Fonts-->
		<!--Google Analytics-->
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=UA-159180375-1"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "UA-159180375-1");
		</script>
	</head>
	<body onclick>
		<header class="header">
			<nav class="nav">
				<ul class="list">
					<li class="item">Men <span class="item__icon">&#9660</span>
						<ul class="item__dropdown">
							<h2 class="item__dropdown__heading">MEN CLOTHES</h2>
							<li class="item__dropdown__item">
								<span class="item__dropdown__item__icon mg-r-sm">&#9830;</span>Jeans</li>
							<li class="item__dropdown__item"><span class=
								"item__dropdown__item__icon mg-r-sm">&#9830;</span>Sweater</li>
							<li class="item__dropdown__item">
								<span class="item__dropdown__item__icon mg-r-sm">&#9830;</span>Shoes</li>
						</ul>
					</li>
					<li class="item">Women <span class="item__icon">&#9660</span>
						<ul class="item__dropdown">
							<h2 class="item__dropdown__heading">WOMEN CLOTHES</h2>
							<li class="item__dropdown__item">
								<span class="item__dropdown__item__icon mg-r-sm">&#9830;</span>Jeans</li>
							<li class="item__dropdown__item"><span class=
								"item__dropdown__item__icon mg-r-sm">&#9830;</span>Sweater</li>
							<li class="item__dropdown__item">
								<span class="item__dropdown__item__icon mg-r-sm">&#9830;</span>Shoes</li>
						</ul>
					</li>
				</ul>
			</nav>
	 
			<figure class="logo-box">
				<a href="#">
					<img src="../img/logo.svg" alt="" class="logo-box__logo">
				</a>
			</figure>
		
			<div class="shop-cart">
				<button class="shop-cart__btn">
					<img src="../img/shop-cart.svg" alt="Shop Cart" class="shop-cart__img">
				</button>
			</div>
		
			<div class="cart-resume cart-display">
				<div class="cart-resume__product">
					<div class="cart-resume__product__delete">X</div>
					<div class="cart-resume__product__image">
						<img src="../img/women-jeans/pexels-godisable-jacob-3689127.jpg" alt="" class="cart-resume__product__image__img">
					</div>
					<div class="cart-resume__product__details">
						<p class="cart-resume__product__details__name">Product Name</p>
						<p class="cart-resume__product__details__feature"> 
							<span class="cart-resume__product__details__feature cart-resume__product__details__feature--size">Size: </span>
							<span class="cart-resume__product__details__feature cart-resume__product__details__feature--quantity">Quantity: </span>
						</p>
					</div>
					<div class="cart-resume__product__prices">
						<p class="cart-resume__product__prices__price cart-resume__product__prices__price--old">19,95$</p>
						<p class="cart-resume__product__prices__price cart-resume__product__prices__price--new">14,95$</p>
					</div>
				</div>     
				<div class="cart-resume__product">
					<div class="cart-resume__product__delete">X</div>
					<div class="cart-resume__product__image">
						<img src="../img/women-jeans/pexels-matt-hardy-1838903.jpg" alt="" class="cart-resume__product__image__img">
					</div>
					<div class="cart-resume__product__details">
						<p class="cart-resume__product__details__name">Product Name</p>
						<p class="cart-resume__product__details__feature"> 
							<span class="cart-resume__product__details__feature cart-resume__product__details__feature--size">Size: </span>
							<span class="cart-resume__product__details__feature cart-resume__product__details__feature--quantity">Quantity: </span>
						</p>
					</div>
					<div class="cart-resume__product__prices">
						<p class="cart-resume__product__prices__price cart-resume__product__prices__price--old">19,95$</p>
						<p class="cart-resume__product__prices__price cart-resume__product__prices__price--new">14,95$</p>
					</div>
				</div>
				<div class="cart-resume__product">
					<div class="cart-resume__product__delete">X</div>
					<div class="cart-resume__product__image">
						<img src="../img/men-shoes/pexels-wallace-chuck-3526224.jpg" alt="" class="cart-resume__product__image__img">
					</div>
					<div class="cart-resume__product__details">
						<p class="cart-resume__product__details__name">Product Name</p>
						<p class="cart-resume__product__details__feature"> 
							<span class="cart-resume__product__details__feature cart-resume__product__details__feature--size">Size: </span>
							<span class="cart-resume__product__details__feature cart-resume__product__details__feature--quantity">Quantity: </span>
						</p>
					</div>
					<div class="cart-resume__product__prices">
						<p class="cart-resume__product__prices__price cart-resume__product__prices__price--old">19,95$</p>
						<p class="cart-resume__product__prices__price cart-resume__product__prices__price--new">14,95$</p>
					</div>
				</div>
				<div class="cart-resume__product">
					<div class="cart-resume__product__delete">X</div>
					<div class="cart-resume__product__image">
						<img src="../img/women-sweater/pexels-elina-sazonova-2705753.jpg" alt="" class="cart-resume__product__image__img">
					</div>
					<div class="cart-resume__product__details">
						<p class="cart-resume__product__details__name">Product Name</p>
						<p class="cart-resume__product__details__feature"> 
							<span class="cart-resume__product__details__feature cart-resume__product__details__feature--size">Size: </span>
							<span class="cart-resume__product__details__feature cart-resume__product__details__feature--quantity">Quantity: </span>
						</p>
					</div>
					<div class="cart-resume__product__prices">
						<p class="cart-resume__product__prices__price cart-resume__product__prices__price--old">19,95$</p>
						<p class="cart-resume__product__prices__price cart-resume__product__prices__price--new">14,95$</p>
					</div>
				</div>
				<div class="cart-resume__product">
					<div class="cart-resume__product__delete">X</div>
					<div class="cart-resume__product__image">
						<img src="../img/women-sweater/pexels-alexandro-david-3082256.jpg" alt="" class="cart-resume__product__image__img">
					</div>
					<div class="cart-resume__product__details">
						<p class="cart-resume__product__details__name">Product Name</p>
						<p class="cart-resume__product__details__feature"> 
							<span class="cart-resume__product__details__feature cart-resume__product__details__feature--size">Size: </span>
							<span class="cart-resume__product__details__feature cart-resume__product__details__feature--quantity">Quantity: </span>
						</p>
					</div>
					<div class="cart-resume__product__prices">
						<p class="cart-resume__product__prices__price cart-resume__product__prices__price--old">19,95$</p>
						<p class="cart-resume__product__prices__price cart-resume__product__prices__price--new">14,95$</p>
					</div>
				</div>
				<div class="cart-resume__total-price">
					<p class="cart-resume__total-price__no-vat">
						Price without VAT:
						<span class="cart-resume__total-price__no-vat--amount calc-amount"></span>
					</p>
					<p class="cart-resume__total-price__vat">
						Total VAT:
						<span class="cart-resume__total-price__vat--amount calc-amount"></span>
					</p>
					<p class="cart-resume__total-price__total">
						TOTAL PRICE:
						<span class="cart-resume__total-price__total--amount calc-amount"></span>
					</p>
				</div>
				<div class="cart-resume__checkout">
					<button class="cart-resume__checkout__btn">PROCEED TO CHECKOUT</button>
				</div>
				<div class="cart-resume__close">
					<p class="cart-resume__close__text">Close shopping card</p>
				</div>
			</div>
		</header>
		
		<main class="main">
			<section class="products">
    <h2 class="products__heading">Men jeans</h2>
    <article class="products__cards">
        <a href="#" class="products__cards__link">
            <figure class="products__cards__card">
                <img src="../img/clothes/men-jeans-id0.jpg" alt="" class="products__cards__card__img">
                <h3 class="products__cards__card__product">Product name</h3>
                <p class="products__cards__card__price">
                    <span class="products__cards__card__price--old">Old</span>
                    <span class="products__cards__card__price--new">New</span>
                </p>
            </figure>
        </a>
        <a href="#" class="products__cards__link">
            <figure class="products__cards__card">
                <img src="../img/clothes/men-jeans-id1.jpg" alt="" class="products__cards__card__img">
                <h3 class="products__cards__card__product">Product name</h3>
                <p class="products__cards__card__price">
                    <span class="products__cards__card__price--old">Old</span>
                    <span class="products__cards__card__price--new">New</span>
                </p>
            </figure>
        </a>
        <a href="#" class="products__cards__link">
            <figure class="products__cards__card">
                <img src="../img/clothes/men-jeans-id2.jpg" alt="" class="products__cards__card__img">
                <h3 class="products__cards__card__product">Product name</h3>
                <p class="products__cards__card__price">
                    <span class="products__cards__card__price--old">Old</span>
                    <span class="products__cards__card__price--new">New</span>
                </p>
            </figure>
        </a>
        <a href="#" class="products__cards__link">
            <figure class="products__cards__card">
                <img src="../img/clothes/men-jeans-id3.jpg" alt="" class="products__cards__card__img">
                <h3 class="products__cards__card__product">Product name</h3>
                <p class="products__cards__card__price">
                    <span class="products__cards__card__price--old">Old</span>
                    <span class="products__cards__card__price--new">New</span>
                </p>
            </figure>
        </a>
    </article>
</section>
		</main>
		<script src="../scripts/dom.js"></script>
	</body>
</html>
