<div class="social">
    <a href="https://github.com/genesismandela" class="social__link social__link--1"> 
        <img src="../img/github.svg" alt="Github" class="social__img">
    </a>
    <a href="https://www.linkedin.com/in/mandela-samboy-b32288191/" class="social__link social__link--2">
        <img src="../img/linkedin.svg" alt="Linkedin" class="social__img">
    </a>
    <a href="https://twitter.com/UzumakiEPC" class="social__link social__link--3"> 
        <img src="../img/twitter.svg" alt="Twitter" class="social__img">
    </a>
</div>
