<section class="item-card">
				
    <div class="item-card__img-box">
        <img src="{%IMAGE%}" alt="{%PRODUCTNAME%}" class="item-card__img">
    </div>
    <form action="#" class="item-card__form">
        <div class="item-card__form__back">&#8678;</div>
        <h3 class="item-card__form__heading">{%PRODUCTNAME%}</h3>
        <p class="item-card__form__description">{%DESCRIPTION%}</p>
        <div class="item-card__form__sizes">
            <label for="xs">
                <input type="radio" name="size" id="xs">
                XSMALL
            </label>
            <label for="s">
                <input type="radio" name="size" id="s">
                SMALL
            </label>
            <label for="m">
                <input type="radio" name="size" id="m">
                MEDIUM
            </label>
            <label for="l">
                <input type="radio" name="size" id="l">
                LARGE
            </label>
            <label for="xl">
                <input type="radio" name="size" id="xl">
                XLARGE
            </label>
        </div>

        <span class="item-card__form__prices item-card__form__prices--old">{%PRICE%}€</span>
        <span class="item-card__form__prices item-card__form__prices--new">{%PRICE%}€</span>

        <input type="submit" value="Add to bag" class="item-card__form__submit"
        >
    </form>
</section>