<section class="item-card">
				
    <div class="item-card__img-box">
        <img src="../img/clothes/women-shoes-id13.jpg" alt="" class="item-card__img">
    </div>
    <form action="#" class="item-card__form">
        <div class="item-card__form__back">&#8678;</div>
        <h3 class="item-card__form__heading">Product Name</h3>
        <p class="item-card__form__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique eveniet delectus corporis libero sed officiis! Lorem ipsum dolor sit amet consectetur adipisicing.</p>
        <div class="item-card__form__sizes">
            <label for="xs">
                <input type="radio" name="size" id="xs">
                XSMALL
            </label>
            <label for="s">
                <input type="radio" name="size" id="s">
                SMALL
            </label>
            <label for="m">
                <input type="radio" name="size" id="m">
                MEDIUM
            </label>
            <label for="l">
                <input type="radio" name="size" id="l">
                LARGE
            </label>
            <label for="xl">
                <input type="radio" name="size" id="xl">
                XLARGE
            </label>
        </div>

        <span class="item-card__form__prices item-card__form__prices--old">34,95 €</span>
        <span class="item-card__form__prices item-card__form__prices--new">29,95€</span>

        <input type="submit" value="Add to bag" class="item-card__form__submit"
        >
    </form>
</section>