<section class="products">
    <h2 class="products__heading">Men jeans</h2>
    <article class="products__cards">
        <a href="/products?id={%ID%}" class="products__cards__link">
            <figure class="products__cards__card">
                <img src="{%IMAGE%}" alt="" class="products__cards__card__img">
                <h3 class="products__cards__card__product">{%PRODUCTNAME%}</h3>
                <p class="products__cards__card__price">
                    <span class="products__cards__card__price--old">{%PRICE%}</span>
                    <span class="products__cards__card__price--new">New</span>
                </p>
            </figure>
        </a>
    </article>
</section>