<section class="products">
    <h2 class="products__heading">Men jeans</h2>
    <article class="products__cards">
        <a href="#" class="products__cards__link">
            <figure class="products__cards__card">
                <img src="../img/clothes/men-jeans-id0.jpg" alt="" class="products__cards__card__img">
                <h3 class="products__cards__card__product">Product name</h3>
                <p class="products__cards__card__price">
                    <span class="products__cards__card__price--old">Old</span>
                    <span class="products__cards__card__price--new">New</span>
                </p>
            </figure>
        </a>
        <a href="#" class="products__cards__link">
            <figure class="products__cards__card">
                <img src="../img/clothes/men-jeans-id1.jpg" alt="" class="products__cards__card__img">
                <h3 class="products__cards__card__product">Product name</h3>
                <p class="products__cards__card__price">
                    <span class="products__cards__card__price--old">14.95€</span>
                    <span class="products__cards__card__price--new">10.95€</span>
                </p>
            </figure>
        </a>
        <a href="#" class="products__cards__link">
            <figure class="products__cards__card">
                <img src="../img/clothes/men-jeans-id2.jpg" alt="" class="products__cards__card__img">
                <h3 class="products__cards__card__product">Product name</h3>
                <p class="products__cards__card__price">
                    <span class="products__cards__card__price--old">Old</span>
                    <span class="products__cards__card__price--new">New</span>
                </p>
            </figure>
        </a>
        <a href="#" class="products__cards__link">
            <figure class="products__cards__card">
                <img src="../img/clothes/men-jeans-id3.jpg" alt="" class="products__cards__card__img">
                <h3 class="products__cards__card__product">Product name</h3>
                <p class="products__cards__card__price">
                    <span class="products__cards__card__price--old">Old</span>
                    <span class="products__cards__card__price--new">New</span>
                </p>
            </figure>
        </a>
    </article>
</section>